.background-image-part {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../Assets/part-bkg.jpg) center center;
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

