.background-image-org {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../Assets/org-bkg.jpg) center center;
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.myProfilePageMain{
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 20px; /* Equal to header height */
    padding-bottom: 60px; /* Equal to footer height */
    flex-grow: 1; /* Makes sure the content takes the available space */
    display: flex; /* Makes the .main a flex container */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
}

.profile-container {
    margin-top: 80px;
    max-width: 90%;
    max-height: 100%;
    background-color: rgb(253, 253, 249); /* Light background for the container */
    padding-bottom: 20px; /* Bottom padding */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
}

.rowElementProfile{
    margin-top: 50px;
    display: flex;
    justify-content: left;
    padding: 20px;
}

/* Form styling for better visual separation */
.formGroupProfile {
    margin-bottom: 20px;
    width: 500px;

}

/* Input field styling */
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
}

.text-inputProfile {
    color: black;
}

/* Button styling */
.button-profile {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Specific button colors */
.button-profile.primary {
    background-color: #007bff;
    color: white;
}

.button-profile.success {
    background-color: #28a745;
    color: white;
}

.button-profile.danger {
    background-color: #dc3545;
    color: white;
}

.events-profile, .button-create {
    margin-top: 100px;
    margin-left: 20px;
    padding-right: 10px;
}

.button-events, .button-create {
    background-color: #a0a669;
    border: #6f9534;
}

.button-events:hover, .button-create:hover {
    background-color: #575c25;
}

.events-profile {
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 10px;
}



